@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #dfeeeb;
}

header {
  background-color: #0e2431;
  padding: 2rem 12rem;
  margin-bottom: 4rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 3.5rem;
  height: 3.5rem;
}

nav p {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.tabs {
  width: 50rem;
  border-bottom: 0.05rem solid #555555a4;
  margin: 0 12rem;
  margin-bottom: 5rem;
  font-size: 2.4rem;
}

.tabs a {
  text-decoration: none;
  color: #555555;
  margin-right: 5rem;
}

.tabs .active {
  border-bottom: 0.2rem solid #f6a71c;
  color: #0e2431;
  font-weight: 600;
}

.timezone {
  border: 2px solid #0e2431;
  border-radius: 0.5rem;
  color: #0e2431;
  background-color: white;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(16, 30, 39, 0.25);
          box-shadow: 0px 4px 15px 5px rgba(16, 30, 39, 0.25);
  width: 45.5rem;
  margin: 0 12rem;
  margin-bottom: 7rem;
  padding: 1.5rem;
  font-size: 3rem;
  text-align: center;
  -webkit-box-shadow: 0px 4px 10px rgba(16, 30, 39, 0.25);
          box-shadow: 0px 4px 10px rgba(16, 30, 39, 0.25);
}

.timezone span:first-child {
  font-weight: 700;
}

.timezone span:last-child {
  color: #f6a71c;
}

@media (max-width: 800px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .tabs {
    width: 30rem;
    margin: 0 auto 4rem auto;
  }
  .tabs a {
    margin-right: 1rem;
  }
  .timezone {
    width: 30rem;
    font-size: 2rem;
    margin: 0 auto 7rem auto;
  }
}

.icon {
  height: 22rem;
  width: 22rem;
}

section.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 12rem;
  margin-bottom: 7rem;
}

section.first > div {
  border: 2px solid #0e2431;
  border-radius: 0.5rem;
  color: #0e2431;
  background-color: white;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(16, 30, 39, 0.25);
          box-shadow: 0px 4px 15px 5px rgba(16, 30, 39, 0.25);
  padding: 3rem;
}

section.first .current {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5 2.5;
          flex: 2.5 2.5;
}

section.first .current p:first-child {
  font-size: 3.4rem;
  font-weight: 600;
}

section.first .current p:nth-child(2) {
  position: relative;
  top: -8px;
  font-size: 2.6rem;
  color: #f6a71c;
}

section.first .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.first .info p:first-child {
  font-size: 15rem;
  font-weight: 600;
  margin-top: -5rem;
}

section.first .info span {
  font-size: 2.4rem;
  font-weight: 300;
}

section.first .info p:last-child {
  font-size: 3.4rem;
}

section.first .more {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

section.first .more h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #f6a71c;
  margin-bottom: 2rem;
}

section.first .more ul {
  list-style-type: none;
  font-size: 1.8rem;
}

section.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 12rem 5rem 12rem;
}

section.second div {
  border: 2px solid #0e2431;
  border-radius: 0.5rem;
  color: #0e2431;
  background-color: white;
  -webkit-box-shadow: 0px 4px 15px 5px rgba(16, 30, 39, 0.25);
          box-shadow: 0px 4px 15px 5px rgba(16, 30, 39, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 1rem 5rem;
}

section.second h1 {
  font-size: 3.2rem;
}

section.second p {
  font-size: 3.8rem;
}

@media (min-width: 1000px) {
  section.first .current {
    margin-right: 2vw;
  }
  section.second > div:first-child {
    margin-right: 4vw;
  }
}

@media (max-width: 900px) {
  .icon {
    width: 20rem;
    height: 20rem;
    margin-bottom: 3rem;
  }
  section.first {
    width: 40rem;
    margin: 0 auto 7rem auto;
  }
  section.first .current {
    margin-bottom: 1rem;
  }
  section.first .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.first .info p:first-child {
    font-size: 10rem;
  }
  section.first .info p:nth-child(2) {
    font-size: 2.6rem;
  }
  section.second {
    width: 40rem;
    margin: 0 auto 7rem auto;
  }
  section.second > div:first-child {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  section.first,
  section.second {
    width: 30rem;
  }
  section.second > div {
    padding: 1rem 2rem;
  }
}
