@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    color: #edf5e1;
}

body {
    background-color: #5cdb95;
}

.container {
    background-color: #05386b;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 10px #1e5349, 10px 15px 20px #1e5349,
        -10px 15px 20px #1e5349;
}

.title {
    font-family: "Rowdies", cursive;
    font-size: 5rem;
    line-height: 5rem;
}

.container p {
    font-family: "Balsamiq Sans", cursive;
    font-size: 2.1rem;
    padding: 1.5rem;
}

input#date {
    background: #edf5e1;
    border: 1px solid #379682;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 30px;
    transform: scale(1.2);
}

button {
    background-color: #25947e;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: #edf5e1;
    font-family: "Oleo Script", cursive;
    font-size: 2rem;
    transition: transform 100ms ease-in, background-color 100ms ease-in;
}

button:hover {
    cursor: pointer;
    background-color: #34c7a9;
    transform: scale(1.1);
}

.fact-box {
    background-color: #07417a;
    display: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #031527;
}
.fact-title {
    font-family: "Rowdies", cursive;
    font-size: 3rem;
    font-weight: 00;
}

.fact {
    font-family: "Oleo Script", cursive;
    font-size: 2.5rem;
}

hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
